<!-- <article>
  <figure>
    <img src="" alt="">
  </figure>

  <div
    *ngIf="homePage"
    class="card__info-container">
    <div >
      <h3>{{ character.name }}</h3>
      <p>{{character.status}} - {{character.species}}</p>
    </div>
    <div>
      <h4>Last known location:</h4>
      <p class="hover">{{character.location.name}}</p>
    </div>
    <div>
      <h4>First seen in:</h4>
      <p class="hover">{{character.origin.name}}</p>
    </div>
  </div>

  <div
    *ngIf="episodePage"
    class="card__info-container">
    <div>
      <h4>Name:</h4>
      <p class="hover">{{episode.name}}</p>
    </div>
    <div>
      <h4>Air Date:</h4>
      <p class="hover">{{episode.air_date}}</p>
    </div>
  </div>

  <div
    *ngIf="locationPage"
    class="card__info-container">
    <div>
      <h4>Name:</h4>
      <p class="hover">{{location.name}}</p>
    </div>
    <div>
      <h4>Type:</h4>
      <p class="hover">{{location.type}}</p>
    </div>
    <div>
      <h4>Dimension:</h4>
      <p class="hover">{{location.dimension}}</p>
    </div>
  </div>
</article> -->